<div class="row">
	<div class="col-md-9">
		<span>
			{{burger_name}}
		</span>
	</div>
	<div class="col-md-3">
		{{#unless devoured}}
			<button class="change-devoured" data-id="{{id}}">Eat It!</button>
		{{/unless}}
	</div>
</div>


